In [1]:
import selenium
from selenium import webdriver
import pandas as pd
import numpy as np
import time

## Scrap the details team India's international fixtures from bcci.tv.

In [164]:
# creating the driver 
driver = webdriver.Chrome('chromedriver2.exe')

# accessing the website
driver.get('https://www.bcci.tv/')
time.sleep(1)

# selecting the drop down
fixtures = driver.find_element_by_xpath('/html/body/div[3]/div/div[2]/div[2]/nav/ul/li[1]/div[2]').click()

time.sleep(1)

# Accessing the International Fixtures
fixtures_selection = driver.find_element_by_xpath('/html/body/div[3]/div/div[2]/div[2]/nav/ul/li[1]/div[2]/div/ul/li[1]/a').click()
time.sleep(1)

#creating the empty dataset
Match_title = []
Series_1 = []
Series = []
Place = []
Date = []
Time = []

#fetching data of match title
for i in driver.find_elements_by_xpath('//p[@class="fixture__additional-info"]//strong'):
        Match_title.append(i.text)

#fetching details of type of Series
for n in driver.find_elements_by_xpath('//div[@class="fixture__format-strip"]//span'):
    Series_1.append(n.text)
for i in range(0,len(Series_1)-1,2):
    Series.append(Series_1[i])

#fetching details of venue
for p in driver.find_elements_by_xpath("//p[@class='fixture__additional-info']//span"):
    Place.append(p.text)

#fetching details of Date
for d in driver.find_elements_by_xpath("//span[@class='fixture__date']"):
    Date.append(d.text)

#fetching details of time of play
for t in driver.find_elements_by_xpath("//span[@class='fixture__time']"):
    Time.append(t.text)

#creating the dataframe
International_Cricket = pd.DataFrame({})
International_Cricket['Match_Title'] = Match_title
International_Cricket['Series'] = Series
International_Cricket['Place'] = Place
International_Cricket['Date'] = Date
International_Cricket['Time'] = Time

International_Cricket

   Match_Title Series                         Place Date       Time
0        Final   TEST   The Ageas Bowl, Southampton   18  15:00 IST
1      1st ODI    ODI  R Premadasa Stadium, Colombo   13  14:30 IST
2      2nd ODI    ODI  R Premadasa Stadium, Colombo   16  14:30 IST
3      3rd ODI    ODI  R Premadasa Stadium, Colombo   18  14:30 IST
4     1st T20I   T20I  R Premadasa Stadium, Colombo   21  19:00 IST
5     2nd T20I   T20I  R Premadasa Stadium, Colombo   23  19:00 IST
6     3rd T20I   T20I  R Premadasa Stadium, Colombo   25  19:00 IST
7     1st Test   TEST      Trent Bridge, Nottingham   04  15:30 IST
8     2nd Test   TEST                Lord's, London   12  15:30 IST
9     3rd Test   TEST             Headingley, Leeds   25  15:30 IST
10    4th Test   TEST              The Oval, London   02  15:30 IST
11    5th Test   TEST      Old Trafford, Manchester   10  15:30 IST

## Scrap the details of selenium exception from guru99.com

In [163]:
# creating the driver 
driver = webdriver.Chrome('chromedriver2.exe')

#accessing the website
driver.get('https://www.guru99.com/')
time.sleep(1)

#accessing the right choice i.e. selenium topic
selective = driver.find_element_by_xpath("//a[@title='Selenium']").click()
time.sleep(1)

#clicking on the exception list
selective_exception = driver.find_element_by_xpath("//a[@title='Selenium Exception Handling (Common Exceptions List)']").click()
time.sleep(1)

#creating the empty database
exception = []
exception_name = []
description = []

#fetching details of exceptions & descriptions
for i in driver.find_elements_by_xpath("//table[@class='table table-striped']//td"):
    exception.append(i.text)
    
# destributing of seperating the exceptions and Descriptions
for i in range(0,len(exception)-1,2):
    exception_name.append(exception[i])
    description.append(exception[i+1])

#creating the dataframe for the output
Selenium_Exception = pd.DataFrame({})
Selenium_Exception['Exception'] = exception_name
Selenium_Exception['Description'] = description

Selenium_Exception

,Exception,Description
0,Exception name,Description
1,ElementNotVisibleException,This type of Selenium exception occurs when an...
2,ElementNotSelectableException,This Selenium exception occurs when an element...
3,NoSuchElementException,This Exception occurs if an element could not ...
4,NoSuchFrameException,This Exception occurs if the frame target to b...
5,NoAlertPresentException,This Exception occurs when you switch to no pr...
6,NoSuchWindowException,This Exception occurs if the window target to ...
7,StaleElementReferenceException,This Selenium exception occurs happens when th...
8,SessionNotFoundException,The WebDriver is acting after you quit the bro...
9,TimeoutException,Thrown when there is not enough time for a com...
10,WebDriverException,This Exception takes place when the WebDriver ...
11,ConnectionClosedException,This type of Exception takes place when there ...
12,ElementClickInterceptedException,The command may not be completed as the elemen...
13,ElementNotInteractableException,This Selenium exception is thrown when any ele...
14,ErrorInResponseException,This happens while interacting with the Firefo...
15,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
16,ImeActivationFailedException,This expectation will occur when IME engine ac...
17,ImeNotAvailableException,It takes place when IME support is unavailable.
18,InsecureCertificateException,Navigation made the user agent to hit a certif...
19,InvalidArgumentException,It occurs when an argument does not belong to ...
20,InvalidCookieDomainException,This happens when you try to add a cookie unde...
21,InvalidCoordinatesException,This type of Exception matches an interacting ...
22,InvalidElementStateExceptio,It occurs when command can't be finished when ...
23,InvalidSessionIdException,This Exception took place when the given sessi...
24,InvalidSwitchToTargetException,This occurs when the frame or window target to...
25,JavascriptException,This issue occurs while executing JavaScript g...
26,JsonException,It occurs when you afford to get the session w...
27,NoSuchAttributeException,This kind of Exception occurs when the attribu...
28,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
29,NoSuchContextException,ContextAware does mobile device testing.
30,NoSuchCookieException,This Exception occurs when no cookie matching ...
31,NotFoundException,This Exception is a subclass of WebDriverExcep...
32,RemoteDriverServerException,This Selenium exception is thrown when the ser...
33,ScreenshotException,It is not possible to capture a screen.
34,SessionNotCreatedException,It happens when a new session could not be suc...
35,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
36,UnexpectedTagNameException,Happens if a support class did not get a web e...
37,UnhandledAlertException,This expectation occurs when there is an alert...
38,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
39,UnknownMethodException,This Exception happens when the requested comm...
40,UnreachableBrowserException,This Exception occurs only when the browser is...
41,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...

## Scrap the details of State-wise GDP of India from statistictime.com

In [257]:
# creating the driver 
driver = webdriver.Chrome('chromedriver2.exe')

#accessing the website
driver.get('https://statisticstimes.com/')
time.sleep(1)

#clicking on the Economy dropdown
dropdown = driver.find_element_by_xpath('//*[@id="top"]/div[2]/div[2]/button').click()

#clicking on the country i.e. India
select = driver.find_element_by_xpath('//*[@id="top"]/div[2]/div[2]/div/a[3]').click()

In [258]:
#selecting the GDP Statewise option
stateGDP = driver.find_element_by_xpath('/html/body/div[2]/div[2]/div[2]/ul/li[1]/a').click()

#creating the dummy databases
Rank = []
State = []
GSDP = []
GSDPCP = []
GSDP1 = []
share = []
Share = []
Gdp = []
GDP = []

#feting the details of rank
for i in driver.find_elements_by_xpath('//td[@class="data1"]'):
    Rank.append(i.text)
    
#fetchin the details of State
for s in driver.find_elements_by_xpath('//td[@class="name"]'):
    State.append(s.text)
    
#fetching the details of GSDP (19-20)
for g in driver.find_elements_by_xpath('//td[@class="data"]'):
    GSDP.append(g.text)
for h in range(0,len(GSDP)-1,5):
    GSDPCP.append(GSDP[h])

#fetching the details of GSDP (18-19)
for j in driver.find_elements_by_xpath('//td[@class="data sorting_1"]'):
    GSDP1.append(j.text)

#fetching the details of Share
for k in driver.find_elements_by_xpath('//td[@class="data"]'):
    share.append(k.text)
for l in range(0,len(share)-1,5):
    Share.append(share[l+1])
    
#fetching the details of GDP
for m in driver.find_elements_by_xpath('//td[@class="data"]'):
    Gdp.append(m.text)
for n in range(0,len(Gdp)-1,5):
    GDP.append(Gdp[n+2])
    
#creating the dataframe
GDP_India = pd.DataFrame({})
GDP_India['Rank'] = Rank[:33]
GDP_India['State'] = State[:33]
GDP_India['GSDP1'] = GSDPCP[:33]
GDP_India['GSDP2'] = GSDP1[:33]
GDP_India['Share'] = Share[:33]
GDP_India['GDP($billion)'] = GDP[:33]

GDP_India

   Rank                      State      GSDP1      GSDP2   Share GDP($billion)
0     1                Maharashtra          -  2,632,792  13.94%       399.921
1     2                 Tamil Nadu  1,845,853  1,630,208   8.63%       247.629
2     3              Uttar Pradesh  1,687,818  1,584,764   8.39%       240.726
3     4                    Gujarat          -  1,502,899   7.96%       228.290
4     5                  Karnataka  1,631,977  1,493,127   7.91%       226.806
5     6                West Bengal  1,253,832  1,089,898   5.77%       165.556
6     7                  Rajasthan  1,020,989    942,586   4.99%       143.179
7     8             Andhra Pradesh    972,782    862,957   4.57%       131.083
8     9                  Telangana    969,604    861,031   4.56%       130.791
9    10             Madhya Pradesh    906,672    809,592   4.29%       122.977
10   11                     Kerala          -    781,653   4.14%       118.733
11   12                      Delhi    856,112    774,870   4.10%       117.703
12   13                    Haryana    831,610    734,163   3.89%       111.519
13   14                      Bihar    611,804    530,363   2.81%        80.562
14   15                     Punjab    574,760    526,376   2.79%        79.957
15   16                     Odisha    521,275    487,805   2.58%        74.098
16   17                      Assam          -    315,881   1.67%        47.982
17   18               Chhattisgarh    329,180    304,063   1.61%        46.187
18   19                  Jharkhand    328,598    297,204   1.57%        45.145
19   20                Uttarakhand          -    245,895   1.30%        37.351
20   21            Jammu & Kashmir          -    155,956   0.83%        23.690
21   22           Himachal Pradesh    165,472    153,845   0.81%        23.369
22   23                        Goa     80,449     73,170   0.39%        11.115
23   24                    Tripura     55,984     49,845   0.26%         7.571
24   25                 Chandigarh          -     42,114   0.22%         6.397
25   26                 Puducherry     38,253     34,433   0.18%         5.230
26   27                  Meghalaya     36,572     33,481   0.18%         5.086
27   28                     Sikkim     32,496     28,723   0.15%         4.363
28   29                    Manipur     31,790     27,870   0.15%         4.233
29   30                   Nagaland          -     27,283   0.14%         4.144
30   31          Arunachal Pradesh          -     24,603   0.13%         3.737
31   32                    Mizoram     26,503     22,287   0.12%         3.385
32   33  Andaman & Nicobar Islands          -          -       -             -

## Scrap the details of trending repositories on Girhub.com

In [346]:
# creating the driver 
driver = webdriver.Chrome('chromedriver2.exe')

#access the website
driver.get('https://github.com/')
time.sleep(2)

In [347]:
#accessing the main dropdown
explorer = driver.find_element_by_xpath('/html/body/div[1]/header/div/div[2]/nav/ul/li[4]').click()

In [348]:
#click on trending option
trending = driver.find_element_by_xpath('/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul[2]/li[3]/a').click()

#creating the empty database
Reposit = []
Description = []
Cont_count = []
Cont_counts = []
Lang = []

#feting the details for Repository title
for r in driver.find_elements_by_class_name('text-normal'):
    Reposit.append(r.text.replace('/',''))

#fetching the details for Reposit Description
for d in driver.find_elements_by_xpath("//p[@class='col-9 color-text-secondary my-1 pr-4']"):
    Description.append(d.text)

#fetching the details for Contributors Count
for c in driver.find_elements_by_xpath("//a[@class='Link--muted d-inline-block mr-3']"):
    Cont_count.append(c.text)
for i in range(0,len(Cont_count)-1,2):
    Cont_counts.append(Cont_count[i])
    
#fetching the details for Language Used
for l in driver.find_elements_by_xpath("//span[@class='d-inline-block ml-0 mr-3']"):
    Lang.append(l.text)

#creating the dataframe
Trending_Reposit = pd.DataFrame({})
Trending_Reposit['Repository_Title'] = Reposit[28:51]
Trending_Reposit['Repository_Desciption'] = Description[:23]
Trending_Reposit['Contributors_Count'] = Cont_counts[:23]
Trending_Reposit['Language_Used'] = Lang[:23]

Trending_Reposit

,Repository_Title,Repository_Desciption,Contributors_Count,Language_Used
0,programthink,„ÄêÁºñÁ®ãÈöèÊÉ≥„ÄëÊï¥ÁêÜÁöÑ„ÄäÂ§™Â≠êÂÖöÂÖ≥Á≥ªÁΩëÁªú„ÄãÔºå‰∏ìÈó®Êè≠Èú≤ËµµÂõΩÁöÑÊùÉË¥µ,"8,237",Python
1,AkashSingh3031,This repository contains all the DSA (Data-Str...,"1,708",Jupyter Notebook
2,CaffeineMC,A Fabric mod designed to improve frame rates a...,"1,669",Java
3,n8n-io,Free and open fair-code licensed node based Wo...,"14,862",TypeScript
4,facebookresearch,"A data augmentations library for audio, image,...","1,685",Python
5,vxunderground,Collection of malware source code for a variet...,"5,650",Assembly
6,abuanwar072,Responsive Admin Panel or Dashboard using Flutter,"2,775",Dart
7,EssayKillerBrain,Âü∫‰∫éÂºÄÊ∫êGPT2.0ÁöÑÂàù‰ª£Âàõ‰ΩúÂûã‰∫∫Â∑•Êô∫ËÉΩ | ÂèØÊâ©Â±ï„ÄÅÂèØËøõÂåñ,"2,573",Python
8,organicmaps,"üçÉ Organic Maps is a better fork of MAPS.ME, an...","1,378",C++
9,rustdesk,Yet another remote desktop software,"6,860",Rust
10,algorithm-visualizer,üéÜInteractive Online Platform that Visualizes A...,"34,079",JavaScript
11,academic,üìù An awesome Data Science repository to learn ...,"16,297",Go
12,megaease,A Cloud Native traffic orchestration system,"2,267",HTML
13,TheBobPony,For the website,43,Python
14,donnemartin,Learn how to design large-scale systems. Prep ...,"135,671",Python
15,kwai,[ICML 2021] DouZero: Mastering DouDizhu with S...,541,Python
16,programthink,„ÄêÁºñÁ®ãÈöèÊÉ≥„ÄëÊî∂ËóèÁöÑÂºÄÊ∫êÈ°πÁõÆÊ∏ÖÂçï,"3,917",Batchfile
17,facebookresearch,Official code Cross-Covariance Image Transform...,206,JavaScript
18,githubdev03,A utility-first CSS framework for rapid UI dev...,31,Jupyter Notebook
19,tailwindlabs,üê∏üí¨ - a deep learning toolkit for Text-to-Speec...,"43,353",Go
20,coqui-ai,A platform for building proxies to bypass netw...,"1,680",C
21,v2fly,stb single-file public domain libraries for C/C++,"9,665",C++
22,nothings,"cross-platform (Qt), open-source (GPLv3) video...","15,857",Dart

## Scrap the details of top 100 songs on billboard.com

In [366]:
# creating the driver 
driver = webdriver.Chrome('chromedriver2.exe')

#accessing the website
driver.get('https://www.billboard.com/')

#initiating the chart option
chart = driver.find_element_by_xpath('//*[@id="root"]/div[2]/div[2]/nav/ul/li[6]/a').click()

#clicking on the 100 hot songs
hot_songs = driver.find_element_by_xpath('//*[@id="root"]/div[2]/div[2]/div/div[3]/div[1]/div[2]/div/div[2]/a[1]/div').click()

In [367]:
#creating the empty databases
Song_name = []
Artist_name = []
Last_week_Rank = []
Peak_Rank = []
Weeks_on_Board = []

#fetching the details of Songname
for s in driver.find_elements_by_xpath('//span[@class="chart-element__information__song text--truncate color--primary"]'):
    Song_name.append(s.text)
    
#fetching the details of Artistname
for a in driver.find_elements_by_xpath('//span[@class="chart-element__information__artist text--truncate color--secondary"]'):
    Artist_name.append(a.text)

#fetching the details of Last week Rank
for l in driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--last"]'):
    Last_week_Rank.append(l.text)

#fetching the details of Peak Rank
for p in driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--peak"]'):
    Peak_Rank.append(p.text)

#fetching the details of Weeks_on_Board
for w in driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--week"]'):
    Weeks_on_Board.append(w.text)
    

#creating the dataframe
Top_Songs = pd.DataFrame({})
Top_Songs['Song_Name'] = Song_name
Top_Songs['Artist_Name'] = Artist_name
Top_Songs['Last_week_Rank'] = Last_week_Rank
Top_Songs['Peak_Rank'] = Peak_Rank
Top_Songs['Weeks_on_Board'] = Weeks_on_Board

Top_Songs

,Song_Name,Artist_Name,Last_week_Rank,Peak_Rank,Weeks_on_Board
0,Butter,BTS,1,1,3
1,Good 4 U,Olivia Rodrigo,2,1,4
2,Levitating,Dua Lipa Featuring DaBaby,3,2,36
3,Peaches,Justin Bieber Featuring Daniel Caesar & Giveon,6,1,12
4,Leave The Door Open,Silk Sonic (Bruno Mars & Anderson .Paak),4,1,14
...,...,...,...,...,...
95,Things A Man Oughta Know,Lainey Wilson,93,93,4
96,Country Again,Thomas Rhett,89,73,6
97,Drunk (And I Don't Wanna Go Home),Elle King & Miranda Lambert,92,79,7
98,If You Want To,Lil Baby & Lil Durk,-,99,1
99,Seeing Green,"Nicki Minaj, Drake & Lil Wayne",67,12,4

## scrape the details of Data Science recruiters from naukri.com

In [390]:
# creating the driver 
driver = webdriver.Chrome('chromedriver2.exe')

#access the website
driver.get('https://www.naukri.com/recruiters/browse-all-recruiters')

In [391]:
search_bar = driver.find_element_by_xpath('//input[@class="sugInp"]').send_keys('Data science')

In [452]:
Search_btn = driver.find_element_by_xpath('//button[@class="fl qsbSrch blueBtn"]').click()

In [497]:
#creating the empty database
Name = []
Designation = []
Comp = []
Company = []
Skills = []
Location = []

#fetch details of Name
for n in driver.find_elements_by_xpath("//span[@class='fl ellipsis']"):
    Name.append(n.text)

#fetch details of Designation
for d in driver.find_elements_by_xpath("//span[@class='ellipsis clr']"):
    Designation.append(d.text)
    
#fetch details of Company
for c in driver.find_elements_by_xpath("//a[@class='ellipsis']"):
    Comp.append(c.text)

for e in range(0,len(Comp)-1,2):
    Company.append(Comp[e+1])

#fetch details of Skills Required
for s in driver.find_elements_by_xpath("//div[@class='hireSec highlightable']"):
    Skills.append(s.text)
    
#fetch details of Location
for l in driver.find_elements_by_xpath("//small[@class='ellipsis']"):
    Location.append(l.text)

#creating the Dataframe
Data_Science = pd.DataFrame({})
Data_Science['Name'] = Name[:48]
Data_Science['Designation'] = Designation[:48]
Data_Science['Company'] = Company[:48]
Data_Science['Skills_Hirefor'] = Skills[:48]
Data_Science['Location'] = Location[:48]

Data_Science

,Name,Designation,Company,Skills_Hirefor,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
8,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
10,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
11,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
12,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
13,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
14,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
15,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
16,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
17,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
18,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
19,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
20,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
21,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
22,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
23,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
24,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
25,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
26,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",Delhi
27,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Bengaluru / Bangalore
28,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",Bengaluru / Bangalore
29,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",Mysoru / Mysore
30,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Bengaluru / Bangalore
31,Radha Manivasagam,HR Executive,Techcovery,"Python, Artificial Intelligence, Machine Learn...",Noida
32,Prateek Kumar,Head,Trisect,"Java, Python, Angularjs, Software Testing, Mac...",New Delhi
33,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",Chennai
34,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Aligarh
35,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Salt Lake City
36,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Pune
37,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Bengaluru / Bangalore
38,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Mumbai
39,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Indore
40,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Bengaluru / Bangalore
41,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",MYSORE
42,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",Hyderabad / Secunderabad
43,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Bengaluru / Bangalore
44,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Mumbai
45,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Noida
46,Amir Chowdhury,Managing Partner,Granular.ai,"Machine Learning, Data Science, Product Manage...",Mumbai
47,Shailja Mishra,HR Manager,Certybox Pvt.Ltd.,"consulting, Education Counseling, Educational ...",Bengaluru / Bangalore

## scrap the details of Highest Selling Novels

In [522]:
# creating the driver 
driver = webdriver.Chrome('chromedriver2.exe')

#accessing the website
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [523]:
#creating the empty datasets
Book = []
Book_Name = []
Author = []
Sales = []
Publisher = []
Genre = []

#fetching details of Book Name
for b in driver.find_elements_by_xpath("//td[@class='left']"):
    Book.append(b.text)
for c in range(0,len(Book)-1,5):
    Book_Name.append(Book[c+1])

#fetching details of Author Name
for d in range(0,len(Book)-1,5):
    Author.append(Book[d+2])
    
#fetching details of Sales
for s in range(0,len(Book)-1,5):
    Sales.append(Book[s+3])
    
#fetching details of Publisher
for p in range(0,len(Book)-1,5):
    Publisher.append(Book[p+4])

#fetching details of Genre
for g in driver.find_elements_by_xpath("//td[@class='last left']"):
    Genre.append(g.text)
    
#creating the dataframe
High_Selling_Novels = pd.DataFrame({})
High_Selling_Novels['Book_Name'] = Book_Name
High_Selling_Novels['Author_Name'] = Author
High_Selling_Novels['Volumes_Sold'] = Sales
High_Selling_Novels['Publisher'] = Publisher
High_Selling_Novels['Genre'] = Genre

High_Selling_Novels

,Book_Name,Author_Name,Volumes_Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

## Scrape the details most watched tv series of all time from imdb.com

In [541]:
# creating the driver 
driver = webdriver.Chrome('chromedriver2.exe')

#accessing the website
driver.get('https://www.imdb.com/list/ls095964455/')

In [542]:
#creating the empty datasets
Name = []
Year = []
Genre = []
Run_Time = []
Ratings = []
Votes = []

#fetching the details of Name
for n in driver.find_elements_by_xpath("//h3[@class='lister-item-header']//a"):
    Name.append(n.text)

#fetching the details of Year
for y in driver.find_elements_by_xpath("//span[@class='lister-item-year text-muted unbold']"):
    Year.append(y.text)
    
#fetching the details of Genre
for g in driver.find_elements_by_xpath("//span[@class='genre']"):
    Genre.append(g.text)

#fetching the details of Run Time
for r in driver.find_elements_by_xpath("//span[@class='runtime']"):
    Run_Time.append(r.text)

#fetching the details of Ratings
for t in driver.find_elements_by_xpath("//div[@class='ipl-rating-star small']"):
    Ratings.append(t.text)

#fetching the details of Votes
for v in driver.find_elements_by_xpath("//span[@name='nv']"):
    Votes.append(v.text)
    
#creating the dataframe
IMDB = pd.DataFrame({})
IMDB['Name'] = Name
IMDB['Year_Span'] = Year
IMDB['Genre'] = Genre
IMDB['Run_Time'] = Run_Time
IMDB['Ratings'] = Ratings
IMDB['Votes'] = Votes

IMDB

,Name,Year_Span,Genre,Run_Time,Ratings,Votes
0,Game of Thrones,(2011‚Äì2019),"Action, Adventure, Drama",57 min,9.3,"1,825,466"
1,Stranger Things,(2016‚Äì ),"Drama, Fantasy, Horror",51 min,8.7,"865,482"
2,The Walking Dead,(2010‚Äì2022),"Drama, Horror, Thriller",44 min,8.2,"875,289"
3,13 Reasons Why,(2017‚Äì2020),"Drama, Mystery, Thriller",60 min,7.6,"262,972"
4,The 100,(2014‚Äì2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"224,370"
...,...,...,...,...,...,...
95,Reign,(2013‚Äì2017),"Drama, Fantasy",42 min,7.5,"44,602"
96,A Series of Unfortunate Events,(2017‚Äì2019),"Adventure, Comedy, Drama",50 min,7.8,"55,118"
97,Criminal Minds,(2005‚Äì2020),"Crime, Drama, Mystery",42 min,8,"168,090"
98,Scream: The TV Series,(2015‚Äì2019),"Comedy, Crime, Drama",45 min,7.1,"34,925"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"191,793"

## Details of Datasets from UCI machine learning repositories

In [3]:
# creating the driver 
driver = webdriver.Chrome('chromedriver2.exe')

#accessing the website
driver.get('https://archive.ics.uci.edu/')

In [5]:
#clicking on all dataset
alldataset = driver.find_element_by_xpath("/html/body/table[1]/tbody/tr/td[2]/span[2]/a/font/b").click()

In [6]:
Dataset_name = []
Data_type = []
Taks = []
Attribute_type = []
No_of_instances = []
No_of_attribute = []
Year = []

In [ ]:
urls = []
for i in driver.find_elements_by_xpath('')